.chatButton {
  width: 20px;
  justify-content: flex-end;
  background-color: royalblue;
}

.nameText {
  width: 200px;
}

.card {
  width: 500px;
  border-style: solid;
  border-width: thin;
  border-color: black;
}

.nameComponent {
  justify-content: space-between;
  align-items: center;
}

.nameContent {
  align-items: center;
}

.buttonContainer {
  width: 200px;
  margin-top: 8px;
}

.alert {
  color: red;
}